GIT_BASE="https://github.com"
REPO_URL="https://github.com/alpha-hack-program/rag-base.git"

MILVUS_NAMESPACE="milvus"

APP_NAME="rag-base"

DATA_SCIENCE_PROJECT_NAMESPACE="rag-base"

ARGOCD_NAMESPACE="openshift-gitops"

MINIO_ACCESS_KEY="minio"
MINIO_SECRET_KEY="minio123"
MINIO_ENDPOINT="minio.minio.svc:9000"


GPU_NAME=NVIDIA-A10G-SHARED

# MODEL_SERVING_REPO_URL="https://github.com/alpha-hack-program/model-serving-utils.git"
MODEL_SERVING_TARGET_REVISION="dry"