__pycache__/
*.old
*.log
*.pyc
*.tmp
*.tmp.*
*.swp
*.db
.venv
scratch*/
.vscode/
.DS_Store
node_modules/
.*token
tmp
*.tmp
.ipynb_checkpoints
mlruns
old/
.env
*.*-creds
rhods-internal-primary-cert-bundle-secret.yaml
__pycache__/
temp.*